.navigateDesign {

    font-weight: bold;
    /* color: #212529; */

    text-transform: uppercase;
    transition: 0.4s;
    font-size: .9em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigateDesign:hover {
    cursor: pointer;
    color: #386cf0
}