.headerDesign {
    /* height: 10vh;
    width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* margin-inline: 1.5em; */
    position: relative;
}

.profile-pic {
    position: absolute;
    top: 0em;
    right: 2em;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.arrow-icon {
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 2em;
    transform: translateY(-50%);
}

.headerDropDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdownIcons {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {

    .headerDesign {
        /* color: #8492a6; */
        /* color: beige; */
        /* background-color: #1b2836; */
        /* background-color: beige; */
        /* background-color: rgba(25, 25, 112, 0.957); */
        /* -webkit-box-shadow: 0 0 3px #8492a6;
        box-shadow: 0 0 3px #8492a6; */
    }

    .navigateDesign {
        /* color: #8492a6; */
        /* color: beige */
    }
}

.picIconButton {
    padding: 0;
    margin: 0;
}

.dropbtn {
    /* color: #8492a6; */
    border-radius: 50%;
    cursor: pointer;
}


.dropbtn:hover,
.dropbtn:focus {
    box-shadow: 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    border-radius: .7em;
    margin-left: -3em;
    position: absolute;
    background-color: #f1f1f1e0;
    width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content .dropdownIcons {
    /* display: block; */
    letter-spacing: .5px;
    line-height: 1.5;
    padding: .5em;
}

.dropdownIcons:hover {
    background-color: lightgray;
    color: #396cf0;
    border: none;
}

.show {
    display: block;
}