.inputBox {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5em;
}

.buttonBar {
    flex-direction: row;
    display: flex;
    padding: 0;
}

.buttonBarBottom {
    flex-direction: row;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.footerData {
    border-top: solid 1px lightgrey;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: .5em;
    /* background-color: rgba(25, 25, 112, 0.957); */
}

@media(max-width: 500px) {
    .footerData {
        justify-content: space-evenly;
    }

    .infoBar {
        display: none;
        visibility: hidden;
    }
}

.price {
    font-weight: 600;
    font-size: 1.1em;
}

.titleData {
    font-weight: 600;
    font-size: 1.1em;
}

.leftColumn {
    display: flex;
    flex-direction: row;
    gap: .3em;
}

.carIcon {
    margin-top: -1em;
}

.infoBar {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    /* justify-content: space-around; */
}

.rowInfoBar {
    display: flex;
    flex-direction: row;
    gap: .3em;
}

.titleInfoBar {
    font-weight: 600;
}

.rowTitleData {
    display: flex;
    flex-direction: row;
    gap: .5em;
}