.inputBox {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5em;
}

.buttonBar {
    flex-direction: row;
    display: flex;
    padding: 0;
}

.buttonBarBottom {
    flex-direction: row;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.footerData {
    border-top: solid 1px lightgrey;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;  */
    /* to mobile screen */
    justify-content: space-around;
    /* to big screen */
    /* align-items: center; */
    padding-top: .5em;
    /* height: 50vh; */
}

.titleData {
    font-weight: 600;
    font-size: 1.1em;
}

.leftColumn {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.carIcon {
    margin-top: -1em;
}

.infoBar {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    /* justify-content: space-around; */
}

.rowInfoBar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.titleInfoBar {
    font-weight: 600;
}

.rowTitleData {
    display: flex;
    flex-direction: row;
    gap: 1em;
}